
/* Modul-spezifische Stile */

.zahlungsart {
    width: 50%;
}

.collapsiblecontent {
    display: none;
}

.togglebutton {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    display: inline-block;
    margin: 10px 0;
}

.togglebutton:hover {
    background-color: #2980b9;
}

.container {
    border: solid 5px #2980b9;
    position: relative;
    background-color:#00ff00;
    width: 39%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: calc(0.5vw + 10px);
    margin-right: 5%;
    text-align: center;
    padding-right: 10px;
}

.container2 {
    position:sticky ;
    background-color: #00ff00;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin-left: 40%;
    text-align: center;
    padding-right: 10px;
}

.container3 {
    position: sticky;
    top: 0;
    left: 0;
    width: 10%;
    border: 5px solid #ff0000;
    animation: changeBorderColor 5s infinite;
}

@keyframes changeBorderColor {
    0% { border-color: #ff0000; }
    50% { border-color: #00ff00; }
    100% { border-color: #0000ff; }
}

.reifen {
    border: crimson solid 4px;
    overflow-wrap: normal;
    padding-bottom: 10px;
}

.zusatz {
    border: black solid 4px;
}

.fixed-image-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: auto;
}

.fixed-image-panel img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.fixedbar {
    position: static;
    bottom: 0;
    left: 0;
    width: 88%;
    height: auto;
    margin: 1.5%;
    color: whitesmoke;
    background-color: #7f7f7f;
    border-radius: 5px;
    padding: 0.5%;
    font-size: min(max(12px, 1vw), 16px);
}

.pricepanel {
    padding-top: 0;
    text-align: right;
    padding-right: 5%;
}

.zahlungsmethode {
    box-sizing: border-box;
    padding-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        top: 5%;
        font-size: 14px;
    }

    input, select {
        width: 90%;
        margin: 5%;
    }
}

@media (max-width: 480px) {
    .container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        font-size: 12px;
    }

    input, select {
        width: 100%;
        margin: 5% 0;
    }
}
