.body {
    font-family: "Arial", sans-serif;
    filter: brightness(100%);
    overflow: hidden;
}

hr {
    max-width: 1000px;
    height: 1px;
    background-color: #767676;
}

input {
    width: 70%;  /*Abstand zur linken Seite*/
    margin: 1% 1% 1% 2%; /* Anpassung hier: 2% rechts für Blocksatz */
    padding: 10px;
    box-sizing: border-box;
    text-align: left; /* Links ausrichten */
}


/* Gemeinsame Stile für select und option */
select {
    width: 10%;
    margin: 1% 10%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 80%;
    background-color: #e0e0e0; /* Hintergrundfarbe für alle Dropdowns */
    border: 1px solid #ccc; /* optional: füge einen Rand hinzu */
}

/* Unterschiedliche Farben für verschiedene Dropdowns */
select:nth-child(odd) {
    background-color: #f0f0f0; /* Hintergrundfarbe für ungerade Dropdowns */
}

select:nth-child(even) {
    background-color: #d0d0d0; /* Hintergrundfarbe für gerade Dropdowns */
}


option {
    text-align: center; /* Text in der Mitte ausrichten */
}



.zahlungsart {
    width: 50%; 
    margin: 5% 100%;
}

/* Toggle Function */
/* .collapsiblecontent {
    display: none;
} */

.togglebutton {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    display: inline-block;
    margin: 10px 0;
}

.togglebutton:hover {
    background-color: #2980b9;
}

/* Container */
.parentContainer {
    display: flex;
    flex-direction: row;
    height: 100vh; /* This will make the parent container take up the full height of the viewport */
    overflow-y: auto; /* This will hide the content that overflows */
    overflow: hidden;
}

.container2Wrapper {
    flex: 1;
    overflow-y: auto; /* Füge eine vertikale Scrollbar für .container2Wrapper hinzu */
}

.container {
    flex: 1;
    min-width: 30%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: calc(0.5vw + 10px);
    text-align: center;
    padding-right: 10px;
    height: 100%;
    margin-bottom: 10px;
}

.single-model-search .form-control {
    max-width: 50%; /* Setze die maximale Breite auf 100% des Elterncontainers */
    box-sizing: border-box;
}


/* Verstecke den Scrollbalken in Webkit-basierten Browsern (Chrome, Safari) */
.container::-webkit-scrollbar {
    width: 0 !important; /* Breite auf 0 setzen */
    background: transparent; /* Hintergrund transparent machen */
}


/* Verstecke den Scrollbalken in Webkit-basierten Browsern (Chrome, Safari) */
.container::-webkit-scrollbar {
    width: 0 !important; /* Breite auf 0 setzen */
    background: transparent; /* Hintergrund transparent machen */
}

/* Verstecke den Scrollbalken in Firefox */
.container {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


.container2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(255, 255, 255);
    overflow-y: auto; /*This will hide the content that overflows*/
    /* clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0 100%); */
}

.container3 {
    position: sticky;
    top: 0;
    left: 0;
    width: 10%;
    border: 5px solid #ff0000;
    animation: changeBorderColor 5s infinite;
}

@keyframes changeBorderColor {
    0% {
        border-color: #ff0000;
    }
    50% {
        border-color: #00ff00;
    }
    100% {
        border-color: #0000ff;
    }
}

.reifen {
    border: crimson, solid 4px;
    overflow-wrap: normal;
    /* text-align: left; */
    padding-bottom: 10px; /* Abstand zwischen Text und Trennlinie */
}
.zusatz {
    border: black, solid 4px;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    input,
    select {
        width: 90%;
        margin: 5%;
    }

    .container {
        width: 90%;
        top: 5%;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    input,
    select {
        width: 100%;
        margin: 5% 0;
    }

    .container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        font-size: 12px;
    }
} */


/* Fixed Image Panel */
.fixed-image-panel {
    flex: 1;
    width: 50%; 
    height: auto;
    display: flex; /* Aktiviere Flexbox */
    align-items: flex-start; /* Bild oben ausrichten */
}


.fixed-image-panel img {
    width: 25%;
    height: auto;
    object-fit: cover;

}

/* @media (max-width: 768px) {
    .fixed-image-panel {
        top: 5%;
        right: 5%;
        width: 90vw;
    }
}

@media (max-width: 480px) {
    .fixed-image-panel {
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
    }
} */

/* Fixed Bar */
.fixedbar {
    position: static;
    bottom: 0;
    left: 0;
    width: 88%;
    height: auto;
    margin: 1.5%;
    color: whitesmoke;
    background-color: #7f7f7f;
    border-radius: 5px;
    padding: 0.5%;
    font-size: min(max(12px, 1vw), 16px);
    margin: auto;
}

/* Price Panel */
.pricepanel {
    padding-top: 0;
    text-align: right;
    padding-right: 5%;
}

@media (max-width: 768px) {
    .fixed-bar {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .fixed-bar {
        padding: 10px;
    }
}

/* Payment Method Container */
.zahlungsmethode {
    box-sizing: border-box;
    padding-bottom: 10px; /* Abstand zwischen Text und Trennlinie */
}

/* @media (max-width: 768px) {
    .zahlungsmethode {
        font-size: 90%;
    }
}

@media (max-width: 480px) {
    .zahlungsmethode {
        font-size: 80%;
    } */

/* Zentriert den Text und die Checkboxen innerhalb der Labels */
label {
    display: flex;
    align-items: flex-start;
    margin: auto; /* Sorgt für automatische Randabstände */
}

/* Optional: Damit die Checkboxen auf derselben vertikalen Linie sind */
input[type="checkbox"] {
    margin-right: 1px; /* Setzt den oberen Rand auf 0, um die vertikale Ausrichtung zu verbessern */
}


#selectedImage {
    clip-path: polygon(0 20%, 100% 20%, 100% 80%, 0 80%);
}