body {
    background: url('https://lego-defender-model-auto.s3.eu-central-1.amazonaws.com/bilder/carousel/aussenfarbegruen.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    filter: brightness(100%);
}

hr {
    max-width: 400px;
    height: 1px;
    background-color: #767676;
}

input, select {
    width: 50%;
    margin: 5% 5% 5% 5%; /* Anpassung hier: 2% rechts */
    padding: 10px;
    box-sizing: border-box;
}

#zahlungsart {
    width: 50%;
}

/* Toggle Function */
.collapsible-content {
    display: none;
}

.toggle-button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    display: inline-block;
    margin: 10px 0;
}

.toggle-button:hover {
    background-color: #2980b9;
}


/* Container */
.container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    width: 39%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: calc(0.5vw + 10px);
    margin-right: 5%;
    text-align: center; /* Text zentriert */
    padding-right: 10px; /* Abstand zwischen Text und Trennlinie */
}
.container2 {
    position: sticky; /* oder 'fixed', je nach Bedarf */
    top: 0; /* oder einen anderen Wert, um die Position zu justieren */
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin-left: 40%;
    text-align: center;
    padding-right: 10px;
}
.container3 {
    position: sticky;
    top: 0;
    left: 0;
    width: 10%;
    border: 5px solid #ff0000;
    animation: changeBorderColor 5s infinite;
  }
  
  @keyframes changeBorderColor {
    0% {
      border-color: #ff0000;
    }
    50% {
      border-color: #00ff00;
    }
    100% {
      border-color: #0000ff;
    }
  }
  
#reifen {
    border: crimson, solid 4px;
    overflow-wrap: normal;
    /* text-align: left; */
    padding-bottom: 10px; /* Abstand zwischen Text und Trennlinie */
}
#zusatz {
    border: black, solid 4px;
}

/* Responsive Design */
@media (max-width: 768px) {
    input, select {
        width: 90%;
        margin: 5%;
    }

    .container {
        width: 90%;
        top: 5%;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    input, select {
        width: 100%;
        margin: 5% 0;
    }

    .container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        font-size: 12px;
    }
}



/* Fixed Image Panel */
.fixed-image-panel {
    width: 100%;
    height: auto;
}


.fixed-image-panel img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .fixed-image-panel {
        top: 5%;
        right: 5%;
        width: 90vw;
    }
}

@media (max-width: 480px) {
    .fixed-image-panel {
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
    }
}

/* Fixed Bar */
.fixed-bar {
    position: static;
    bottom: 0;
    left: 0;
    width: 88%;
    height: auto;
    margin: 1.5%;
    color: whitesmoke;
    background-color: #7f7f7f;
    border-radius: 5px;
    padding: 0.5%;
    font-size: min(max(12px, 1vw), 16px);
}

/* Price Panel */
.price-panel {
    padding-top: 0;
    text-align: right;
    padding-right: 5%;
}

@media (max-width: 768px) {
    .fixed-bar {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .fixed-bar {
        padding: 10px;
    }
}

/* Payment Method Container */
.zahlungsmethode {
    box-sizing: border-box;
    padding-bottom: 10px; /* Abstand zwischen Text und Trennlinie */
}

@media (max-width: 768px) {
    .zahlungsmethode {
        font-size: 90%;
    }
}

@media (max-width: 480px) {
    .zahlungsmethode {
        font-size: 80%;
    }

/* Hidden Test Section */
#test {
    border: solid 2px #ee82ee;
    display: none;
}

/* Zentriert den Text und die Checkboxen innerhalb der Labels */
label {
    display: flex;
    align-items:center;
    justify-content:center   ; /* Zentriert horizontal */
    margin: auto; /* Sorgt für automatische Randabstände*/
}

/* Stellt sicher, dass die Checkboxen nicht zu breit sind */
input[type="checkbox"] {
    width: auto;
    margin-right: 10px; /* Abstand zwischen Checkbox und Text */
}
